:local(.tab), :local(.variableValueInserter) {
	/* background: linear-gradient(to bottom, #3ec54a 0%, #2faf3a 100%) #34c240;
	border-color: #2faf3a #2a9b33 #279230; */
	background: linear-gradient(to bottom, #d8d8d8 0%, #d8d8d8 100%) #dbdbdb;
	border-color: #adadad #999999 #888888;
	border-style: solid;
	border-width: 0.1em 0.1em 0em 0.1em;
	display: block;
	float: left;
	cursor: pointer;
	color: #2e8bd3;
	text-shadow: 0 -1px 5 rgba(0, 0, 0, 0.25);
	padding: 2px 10px 2px 10px;
	font-weight: 500;
	line-height: 2.0em;
	height: 2.1em;
	margin-top: 0.2em;
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
	-webkit-border-radius: 5px;
	/* Firefox 1-3.6 */
	-moz-border-radius: 5px;
	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	border-radius: 5px 5px 0px 0px;

}
:local(.tab:hover) {
	/* background: linear-gradient(to bottom, #48c853 0%, #31b83d 100%);
	border-color: #31b83d #2faf3a #2ca536; */
	background: linear-gradient(to bottom, #f0f0f0 0%, #ebebeb 100%) #f7f7f7;
	border-color: #cacaca #afafaf #afafaf;
	color: #168dee;
	text-shadow: 0 -1px 2px rgba(255, 255, 255, 0.5);
	height: 2.2em;
	margin-top: 0.1em;
}
:local(.tab.active) {
	background: linear-gradient(to bottom, #f0f0f0 0%, #f0f0f0 100%) #f0f0f0;
	border-color: #cacaca #afafaf #afafaf;
	color: #168dee;
	text-shadow: 0 -1px 2px rgba(255, 255, 255, 0.5);
	height: 2.3em;
	margin-top: 0em;
}
:local(.variableValueInserter) {
	background: linear-gradient(to bottom, #f0f0f0 0%, #ebebeb 100%) #f7f7f7;
	border-color: #cacaca #afafaf #afafaf;
	color: #000000;
}
:local(.noselect) {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome and Opera */
}
:local(.tabContent) {
	border-style: solid;
	background: linear-gradient(to bottom, #f5f5f5 0%, #f5f5f5 100%) #fbfbfb;
	border-color: #666666;
	border-width: 0.1em 0.1em 0.1em 0.1em;
	-webkit-border-radius: 0em 0.3em 0.3em 0.3em;
	-moz-border-radius: 0em 0.3em 0.3em 0.3em;
	border-radius: 0em 0.3em 0.3em 0.3em;
	padding: 0.6em;
}
:local(.tabContent.visibleNone) {
	display: none;
}
:local(.visibleNone) {
	display: none!important;
}
:local(.tabContent.languageTabContent) {
	background: linear-gradient(to bottom, #f8f8f8 0%, #f8f8f8 100%) #fcfcfc;
}
:local(.collectorItemsHolder) {
	border-style: solid;
	background-color: #ffffff;
	border-color: #dbdbdb;
	border-width: 0.1em 0.1em 0.1em 0.1em;
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
	-webkit-border-radius: 0.3em 0.3em 0em 0.3em;
	/* Firefox 1-3.6 */
	-moz-border-radius: 0.3em 0.3em 0em 0.3em;
	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	border-radius: 0.3em 0.3em 0em 0.3em;
}
:local(.addButton) {
	margin-bottom: 15px;
	margin-right: 0px;
}
:local(.recipientPinIcon.pinedIcon){
	color: #000000;
}
:local(.recipientPinIconHolder), :local(.recipientXIconHolder){
	padding: 2px;
	width: 24px;
	height: 24px;
	white-space: nowrap;
	text-align: center;
	border-width: 0.1em 0.1em 0.1em 0.1em;
	background: linear-gradient(to bottom, #34a73f 0%, #3fa548 100%) #42aa4b;
	border-color: #2faf3a #2a9b33 #279230;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px 13px 13px 13px;
	cursor: pointer;
}
:local(.recipientPinIconHolder.pinedIcon) {
	background-color: transparent;
	background: transparent;
	border-style: none;
}
:local(.recipientPinIcon), :local(.recipientXIcon) {
	vertical-align: middle;
	color: #fefefe;
}
:local(.downArrowIcon) {
	vertical-align: middle;
	color: #000000;
	margin-left: 0.3em;
}
:local(.recipientItem) {
	cursor: default;
	margin: 0.2em 0em 0.2em 0.2em;
	padding: 0.2em;
	background: linear-gradient(to bottom, #3ec54a 0%, #2faf3a 100%) #34c240;
	border-color: #2faf3a #2a9b33 #279230;
	border-width: 1px;
	border-style: solid;
	border-width: 0.1em 0.1em 0.1em 0.1em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em 0.3em 0.3em 0.3em;
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
:local(.recipientItemAddHold.left), :local(.recipientItemAddHold.right) {
	border-style: solid;
	background-color: #ffffff;
	border-color: #dbdbdb;
	border-width: 0px 0.1em 0.1em 0.1em;
	-webkit-border-radius: 0px 0px 0.3em 0.3em;
	-moz-border-radius: 0px 0px 0.3em 0.3em;
	border-radius: 0px 0px 0.3em 0.3em;
}
:local(.recipientItemAddHold) {
	margin-bottom: 1em;
	padding: 0.5em 0.5em 0.5em 0.5em;
}
:local(.recipientItemAddHold) .FormField, :local(.recipientItemAddHold) .Button {
	margin-bottom: 0px;
}
:local(.recipientItemAddHold.left){
	margin-right: 0;
	border-width: 0px 0px 0.1em 0.1em;
	-webkit-border-radius: 0px 0px 0em 0.3em;
	-moz-border-radius: 0px 0px 0em 0.3em;
	border-radius: 0px 0px 0em 0.3em;
}
:local(.recipientItemAddHold.right){
	margin-left: 0;
	border-width: 0px 0.1em 0.1em 0px;
	-webkit-border-radius: 0px 0px 0.3em 0em;
	-moz-border-radius: 0px 0px 0.3em 0em;
	border-radius: 0px 0px 0.3em 0em;
}
:local(.recipientItem:hover) {
	background: linear-gradient(to bottom, #48c853 0%, #31b83d 100%);
	border-color: #31b83d #2faf3a #2ca536;
}
:local(.recipientItem) :local(.recipientName){
	text-align: center;
	padding: 0px 5px 0px 5px;
}
:local(.fieldLabel) {
	transition: color 280ms;
	color: #777777;
	margin: 0.1em 0 0.1em 1em;
}
:local(.fieldTitle) {
	transition: color 280ms;
	color: #000000;
	margin: 1em 0 0.1em 0.1em;
	font-weight: 600;
}
:local(.variableComposer.visibleNone) {
	display: none;
}
:local(.holderForBlocks.visibleNone) {
	display: none;
}
